body{
    background-color: black;
    margin:0%;
    padding: 0%;
}
.ele{
    display: flex;
    margin:50px;
    padding: 10px;
}
.elem{
background-color: rgb(36, 174, 174);
width:50%;
padding:20px;
margin: 30px;
border-radius: 7px;
}
.elem1{
background-color: rgb(98, 94, 125);
width:50%;
padding:20px;
margin: 30px;
border-radius: 7px;

}
.elem2{
background-color: rgb(92, 214, 214);
width:50%;
padding:20px;
margin: 30px;
border-radius: 7px;
    
}
.elem3{
    background-color: rgb(186, 121, 156);
width:50%;
padding:20px;
margin: 30px;
border-radius: 7px;
}
.elem4{
    background-color: rgb(218, 186, 202);
width:50%;
padding:20px;
border-radius: 7px;
margin: 30px;
}
.elem5{
    background-color: rgb(201, 84, 98);
width:50%;
padding:20px;
border-radius: 7px;
margin: 30px;
}
 .elem6{
background-color: rgb(129, 233, 140);
padding:20px;
margin: 30px;
width:50%;
border-radius: 7px;
text-align: center;

}
.elem7{
    background-color: rgb(178, 150, 154);
    width:50%;
padding:20px;
margin: 30px;
border-radius: 7px;
text-align: center;
}
.e1{
width:25%;
text-align: center;
padding: 30px;
border-radius: 7px;
margin:15px;
background-color: rgb(150, 226, 43);

}
.e2{
    width:25%;
    text-align: center;
    padding: 30px;
    margin: 15px;
    border-radius: 7px;
    background-color: rgb(154, 95, 209);
    
    }
.e3{
        width:25%;
        text-align: center;
        padding: 30px;
        margin: 15px;
        border-radius: 7px;
        background-color: rgb(81, 81, 161);
        
        }
.e4{
    width:25%;
        text-align: center;
        padding: 30px;
        border-radius: 7px;
        margin: 15px;
        background-color: rgb(131, 108, 152);
}
.e5{
    width:25%;
        text-align: center;
        padding: 30px;
        margin: 15px;
        border-radius: 7px;
        background-color: rgb(235, 85, 85);
}
.e6{
    width:25%;
        text-align: center;
        padding: 30px;
        border-radius: 7px;
        margin: 15px;
        background-color: rgb(125, 151, 137);
}
.e7{
        width:25%;
        text-align: center;
        padding: 30px;
        border-radius: 7px;
        margin: 15px;
        background-color: rgb(195, 100, 144);
}
.e8{
    width:25%;
        text-align: center;
        padding: 30px;
        border-radius: 7px;
        margin: 15px;
        background-color: rgb(188, 214, 160);
}
.e9{
    width:25%;
        text-align: center;
        padding: 30px;
        border-radius: 7px;
        margin: 15px;
        background-color: rgb(185, 69, 187);
}
.e10{
    width:25%;
        text-align: center;
        padding: 30px;
        border-radius: 7px;
        margin: 15px;
        background-color: rgb(140, 146, 135);
}
.e11{
    width:25%;
        text-align: center;
        padding: 30px;
        border-radius: 7px;
        margin: 15px;
        background-color: rgb(183, 155, 216);
}
.e12{
    width:25%;
        text-align: center;
        padding: 30px;
        margin: 15px;
        border-radius: 7px;
        background-color: rgb(84, 111, 54);
}
.ele a{
    text-decoration: none;
}
.ele .but{
    border:1px solid black;
    border-radius: 30px;
    width:25%;
    margin-left: 35%;
    background-color: rgb(111, 106, 106);
    font-family: 'Times New Roman', Times, serif;
}
nav ul{
    list-style-type: none;
    overflow: hidden;

}
nav a{
    color:rgb(202, 195, 195);
    text-decoration: none;
    padding:20px;
    display: block;
    text-align: center;
}
nav a:hover{
    background-color: rgb(253, 253, 243);
    border-radius: 10px;
}
nav li{
    float:right;
}
